/* http://www.fontsquirrel.com / 2015-03-20 11:26 AM Europe/Belgium */

@font-face {
    font-family: 'Press Start 2P';
    src: url('../font/pressstart2p-reg.eot');
    src: url('../font/pressstart2p-reg.eot?#iefix') format('embedded-opentype'),
         url('../font/pressstart2p-reg.woff2') format('woff2'),
         url('../font/pressstart2p-reg.woff') format('woff'),
         url('../font/pressstart2p-reg.ttf') format('truetype'),
         url('../font/pressstart2p-reg.svg#press_start_2pregular') format('svg');
    // font-weight: normal;
    // font-style: normal;
}




@font-face {
    font-family: 'Super Plumber Brothers';
    src: url('../font/superplumberbrothers.eot');
    src: url('../font/superplumberbrothers.eot?#iefix') format('embedded-opentype'),
         url('../font/superplumberbrothers.woff2') format('woff2'),
         url('../font/superplumberbrothers.woff') format('woff'),
         url('../font/superplumberbrothers.ttf') format('truetype'),
         url('../font/superplumberbrothers.svg#super_plumber_brothersregular') format('svg');
    // font-weight: normal;
    // font-style: normal;
}